<%- include("partials/header") %>
<div class="container">
    <h2 class="display link-body-emphasis mb-1">About</h2>
    <p>This is a personal blog website I built in 2024 to express my random thoughts on different topics in the world we are living today from politics to society to sports you name it.
        I feel like this will play a major role to the “future me” in terms of tracking progress of how far I have come or how low I have fallen. Only time will tell.</p>
    <p>If you are interested you can subscribe to our newsletter here for you not to miss any of our blogs. Lets walk this journey together.</p>
</div>
