.blog-header-logo {
    font-size: 30px;
    font-family: 'Times New Roman';
    text-transform: uppercase;
}
.nav-link {
    font-family: 'Times New Roman';
    font-size: 20px;
}
.post-title{
    font-family: 'Times New Roman';
    font-weight: 600;

}
.display {
    font-family: 'Times New Roman';
    font-weight: 600;
    font-size: 40px;
}