body{
    font-family: 'Georgia';
}

.blog-header-logo {
    font-size: 40px;
    font-family: 'Old English Text MT'; 
}
.nav-link {
    font-size: 20px;
}
.post-title{
    font-weight: 600;
}
.display {
    font-weight: 600;
    font-size: 40px;
}
p {
    font-size: 18px;
}